/* line 4, ../../../vendor/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_reset.sass */
html, body {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }

/* line 12, ../../../vendor/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_reset.sass */
div, span, object, iframe, h1, h2, h3, h4, h5, h6, p,
pre, a, abbr, acronym, address, code, del, dfn, em, img,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, tbody, tfoot, thead, tr {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }

/* line 16, ../../../vendor/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_reset.sass */
blockquote, q {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  quotes: "" ""; }
  /* line 42, ../../../vendor/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_reset.sass */
  blockquote:before, q:before,
  blockquote:after, q:after {
    content: ""; }

/* line 18, ../../../vendor/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_reset.sass */
th, td, caption {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 20, ../../../vendor/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_reset.sass */
table {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle; }

/* line 22, ../../../vendor/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_reset.sass */
a img {
  border: none; }

/* line 9, ../sass/screen.sass */
#container {
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  display: inline-block; }
  /* line 5, ../../../vendor/gems/chriseppstein-compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/general/_hacks.sass */
  #container {
    display: block; }

/* line 13, ../sass/screen.sass */
#header {
  margin-top: 55px; }
  /* line 15, ../sass/screen.sass */
  #header strong {
    color: #C1272D;
    font-weight: normal; }

/* line 19, ../sass/screen.sass */
#thumbnail-navigation {
  margin-top: 20px; }

/* line 22, ../sass/screen.sass */
#thumbnail-previous-container {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 30px;
  margin-top: 50px;
  text-align: right; }
  /* line 101, ../../../vendor/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
  * html #thumbnail-previous-container {
    overflow-x: hidden; }

/* line 27, ../sass/screen.sass */
#thumbnail-next-container {
  margin-top: 30px;
  display: inline;
  float: left;
  margin-right: 0;
  width: 30px; }
  /* line 101, ../../../vendor/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
  * html #thumbnail-next-container {
    overflow-x: hidden; }

/* line 31, ../sass/screen.sass */
#thumbnail-previous,
#thumbnail-next {
  font-size: 20px;
  text-decoration: none; }

/* line 36, ../sass/screen.sass */
#thumbnail-previous.disabled,
#thumbnail-next.disabled {
  color: white; }

/* line 40, ../sass/screen.sass */
#header,
#main-nav {
  text-align: right;
  display: inline;
  float: left;
  margin-right: 10px;
  width: 190px; }
  /* line 101, ../../../vendor/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
  * html #header,
  * html #main-nav {
    overflow-x: hidden; }

/* line 45, ../sass/screen.sass */
#main-nav {
  padding-right: 40px; }

/* line 48, ../sass/screen.sass */
#footer {
  display: inline;
  float: left;
  margin-right: 0;
  width: 950px; }
  /* line 101, ../../../vendor/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
  * html #footer {
    overflow-x: hidden; }

/* line 53, ../sass/screen.sass */
#thumbnail-navigation .thumbnail {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 110px;
  text-align: center; }
  /* line 101, ../../../vendor/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
  * html #thumbnail-navigation .thumbnail {
    overflow-x: hidden; }
  /* line 57, ../sass/screen.sass */
  #thumbnail-navigation .thumbnail img {
    text-align: center;
    height: 75px;
    width: 75px;
    padding: 2px;
    border: 1px solid #DDD;
    border: 3px solid #777;
    padding: 3px;
    cursor: pointer;
    display: block;
    margin-right: 14px;
    opacity: 0.4; }
    /* line 70, ../sass/screen.sass */
    #thumbnail-navigation .thumbnail img.selected {
      border-color: #C1272D;
      opacity: 0.5; }
    /* line 73, ../sass/screen.sass */
    #thumbnail-navigation .thumbnail img:hover {
      opacity: 1; }

/* line 76, ../sass/screen.sass */
#main-image,
#main-image-info,
#main-nav {
  margin-top: 20px; }

/* line 81, ../sass/screen.sass */
#main-image-info {
  text-align: left;
  display: inline;
  float: left;
  margin-right: 0;
  width: 110px; }
  /* line 101, ../../../vendor/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
  * html #main-image-info {
    overflow-x: hidden; }

/* line 85, ../sass/screen.sass */
#main-image {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 510px; }
  /* line 101, ../../../vendor/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
  * html #main-image {
    overflow-x: hidden; }

/* line 89, ../sass/screen.sass */
#main-image-info h2 {
  color: #777; }
  /* line 92, ../sass/screen.sass */
  #main-image-info h2 .header {
    font-face: Gothic, Hevetica;
    size: 14pt;
    text-transform: uppercase;
    letter-spacing: -1px; }
  /* line 97, ../sass/screen.sass */
  #main-image-info h2 .info {
    font-face: Times;
    font-style: italic; }

/* line 101, ../sass/screen.sass */
#content {
  display: inline;
  float: left;
  margin-right: 0;
  width: 630px; }
  /* line 101, ../../../vendor/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
  * html #content {
    overflow-x: hidden; }

/* line 108, ../sass/screen.sass */
#main-image img {
  border: 3px solid #777;
  padding: 3px; }

/* line 112, ../sass/screen.sass */
#header h1 {
  letter-spacing: 0px;
  text-transform: uppercase;
  font-family: League Gothic, Gothic, Hevetica;
  font-size: 40px; }

/* line 119, ../sass/screen.sass */
#main-nav ul {
  margin-bottom: 0px; }
/* line 122, ../sass/screen.sass */
#main-nav li {
  list-style-type: none;
  text-align: right; }
/* line 126, ../sass/screen.sass */
#main-nav a {
  color: #777;
  font: 14pt Times;
  font-style: italic;
  text-decoration: none; }
  /* line 132, ../sass/screen.sass */
  #main-nav a.selected {
    color: #C1272D; }
  /* line 135, ../sass/screen.sass */
  #main-nav a:hover {
    text-decoration: underline; }

/* line 138, ../sass/screen.sass */
#main-nav #contact-info {
  margin-top: 30px;
  color: #777; }
  /* line 142, ../sass/screen.sass */
  #main-nav #contact-info a,
  #main-nav #contact-info strong {
    font-size: 10pt; }
  /* line 145, ../sass/screen.sass */
  #main-nav #contact-info strong {
    color: #C1272D; }
