/* line 4, ../../../vendor/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_reset.sass */
html, body {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }

/* line 12, ../../../vendor/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_reset.sass */
div, span, object, iframe, h1, h2, h3, h4, h5, h6, p,
pre, a, abbr, acronym, address, code, del, dfn, em, img,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, tbody, tfoot, thead, tr {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }

/* line 16, ../../../vendor/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_reset.sass */
blockquote, q {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  quotes: "" ""; }
  /* line 42, ../../../vendor/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_reset.sass */
  blockquote:before, q:before,
  blockquote:after, q:after {
    content: ""; }

/* line 18, ../../../vendor/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_reset.sass */
th, td, caption {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 20, ../../../vendor/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_reset.sass */
table {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle; }

/* line 22, ../../../vendor/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_reset.sass */
a img {
  border: none; }

/* line 10, ../sass/screen.sass */
#container {
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  display: inline-block; }
  /* line 5, ../../../vendor/gems/chriseppstein-compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/general/_hacks.sass */
  #container {
    display: block; }

/* line 13, ../sass/screen.sass */
#header {
  margin-top: 55px; }

/* line 15, ../sass/screen.sass */
#thumbnails {
  margin-top: 20px;
  margin-bottom: 20px; }

/* line 19, ../sass/screen.sass */
#header,
#main-nav {
  text-align: left;
  display: inline;
  float: left;
  margin-right: 10px;
  width: 150px; }
  /* line 101, ../../../vendor/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
  * html #header,
  * html #main-nav {
    overflow-x: hidden; }

/* line 23, ../sass/screen.sass */
#footer {
  display: inline;
  float: left;
  margin-right: 0;
  width: 950px; }
  /* line 101, ../../../vendor/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
  * html #footer {
    overflow-x: hidden; }

/* line 25, ../sass/screen.sass */
#thumbnails {
  display: inline;
  float: left;
  margin-right: 0;
  width: 790px;
  overflow: hidden;
  height: 100px; }
  /* line 101, ../../../vendor/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
  * html #thumbnails {
    overflow-x: hidden; }

/* line 30, ../sass/screen.sass */
#image-main-template,
#main-image,
#main-image-info {
  text-align: left;
  display: inline;
  float: left;
  margin-right: 0;
  width: 790px; }
  /* line 101, ../../../vendor/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
  * html #image-main-template,
  * html #main-image,
  * html #main-image-info {
    overflow-x: hidden; }

/* line 37, ../sass/screen.sass */
#main-image-info h2 {
  color: #777; }
  /* line 40, ../sass/screen.sass */
  #main-image-info h2 .header {
    font-face: Gothic;
    size: 14pt;
    text-transform: uppercase;
    letter-spacing: -1px; }
  /* line 45, ../sass/screen.sass */
  #main-image-info h2 .info {
    font-face: Times;
    font-style: italic; }

/* line 49, ../sass/screen.sass */
#content {
  display: inline;
  float: left;
  margin-right: 0;
  width: 630px; }
  /* line 101, ../../../vendor/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
  * html #content {
    overflow-x: hidden; }

/* line 56, ../sass/screen.sass */
#main-image img {
  border: 3px solid #777;
  padding: 3px; }

/* line 60, ../sass/screen.sass */
#header h1 {
  letter-spacing: 0px;
  text-transform: uppercase;
  font-family: League Gothic;
  font-size: 40px; }

/* line 67, ../sass/screen.sass */
#main-nav ul {
  margin-bottom: 0px; }
/* line 70, ../sass/screen.sass */
#main-nav li {
  list-style-type: none; }
/* line 73, ../sass/screen.sass */
#main-nav a {
  color: #777;
  font: 14pt Times;
  font-style: italic;
  text-decoration: none; }
  /* line 79, ../sass/screen.sass */
  #main-nav a.selected {
    color: #C1272D; }
  /* line 82, ../sass/screen.sass */
  #main-nav a:hover {
    text-decoration: underline; }

/* line 85, ../sass/screen.sass */
#main-nav #contact-info {
  margin-top: 30px;
  color: #777; }
  /* line 89, ../sass/screen.sass */
  #main-nav #contact-info a,
  #main-nav #contact-info strong {
    font-size: 10pt; }
  /* line 92, ../sass/screen.sass */
  #main-nav #contact-info strong {
    color: #C1272D; }

/* line 1, ../sass/carousel.sass */
.jcarousel-container {
  position: relative; }

/* line 5, ../sass/carousel.sass */
.jcarousel-clip {
  z-index: 2;
  padding: 0;
  margin: 0;
  overflow: hidden;
  position: relative; }

/* line 13, ../sass/carousel.sass */
.jcarousel-list {
  z-index: 1;
  overflow: hidden;
  position: relative;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0; }

/* line 23, ../sass/carousel.sass */
.jcarousel-list li,
.jcarousel-item {
  float: left;
  list-style: none;
  width: 75px;
  height: 75px; }

/* line 31, ../sass/carousel.sass */
.jcarousel-next {
  z-index: 3;
  display: none; }

/* line 35, ../sass/carousel.sass */
.jcarousel-prev {
  z-index: 3;
  display: none; }

/* line 40, ../sass/carousel.sass */
.jcarousel-skin-tango .jcarousel-container-horizontal {
  width: 245px;
  padding: 20px 40px; }

/* line 45, ../sass/carousel.sass */
.jcarousel-skin-tango .jcarousel-container-vertical {
  width: 75px;
  height: 245px;
  padding: 40px 20px; }

/* line 51, ../sass/carousel.sass */
.jcarousel-skin-tango .jcarousel-clip-horizontal {
  width: 245px;
  height: 80px; }

/* line 56, ../sass/carousel.sass */
.jcarousel-skin-tango .jcarousel-clip-vertical {
  width: 75px;
  height: 245px; }

/* line 61, ../sass/carousel.sass */
.jcarousel-skin-tango .jcarousel-item {
  width: 75px;
  height: 75px; }

/* line 66, ../sass/carousel.sass */
.jcarousel-skin-tango .jcarousel-item-horizontal {
  margin-right: 10px; }

/* line 70, ../sass/carousel.sass */
.jcarousel-skin-tango .jcarousel-item-vertical {
  margin-bottom: 10px; }

/* line 74, ../sass/carousel.sass */
.jcarousel-skin-tango .jcarousel-item-placeholder {
  background: #fff;
  color: #000; }

/* line 78, ../sass/carousel.sass */
.jcarousel-skin-tango .jcarousel-next-horizontal {
  position: absolute;
  top: 43px;
  right: 5px;
  width: 32px;
  height: 32px;
  cursor: pointer;
  background: transparent url(/images/next-horizontal.png) no-repeat 0 0; }

/* line 88, ../sass/carousel.sass */
.jcarousel-skin-tango .jcarousel-next-horizontal:hover {
  background-position: -32px 0; }

/* line 92, ../sass/carousel.sass */
.jcarousel-skin-tango .jcarousel-next-horizontal:active {
  background-position: -64px 0; }

/* line 96, ../sass/carousel.sass */
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:hover,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:active {
  cursor: default;
  background-position: -96px 0; }

/* line 103, ../sass/carousel.sass */
.jcarousel-skin-tango .jcarousel-prev-horizontal {
  position: absolute;
  top: 43px;
  left: 5px;
  width: 32px;
  height: 32px;
  cursor: pointer;
  background: transparent url(/images/prev-horizontal.png) no-repeat 0 0; }

/* line 113, ../sass/carousel.sass */
.jcarousel-skin-tango .jcarousel-prev-horizontal:hover {
  background-position: -32px 0; }

/* line 117, ../sass/carousel.sass */
.jcarousel-skin-tango .jcarousel-prev-horizontal:active {
  background-position: -64px 0; }

/* line 121, ../sass/carousel.sass */
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:hover,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:active {
  cursor: default;
  background-position: -96px 0; }

/* line 127, ../sass/carousel.sass */
.jcarousel-skin-tango .jcarousel-next-vertical {
  position: absolute;
  bottom: 5px;
  left: 43px;
  width: 32px;
  height: 32px;
  cursor: pointer;
  background: transparent url(/images/next-vertical.png) no-repeat 0 0; }

/* line 137, ../sass/carousel.sass */
.jcarousel-skin-tango .jcarousel-next-vertical:hover {
  background-position: 0 -32px; }

/* line 141, ../sass/carousel.sass */
.jcarousel-skin-tango .jcarousel-next-vertical:active {
  background-position: 0 -64px; }

/* line 145, ../sass/carousel.sass */
.jcarousel-skin-tango .jcarousel-next-disabled-vertical,
.jcarousel-skin-tango .jcarousel-next-disabled-vertical:hover,
.jcarousel-skin-tango .jcarousel-next-disabled-vertical:active {
  cursor: default;
  background-position: 0 -96px; }

/* line 152, ../sass/carousel.sass */
.jcarousel-skin-tango .jcarousel-prev-vertical {
  position: absolute;
  top: 5px;
  left: 43px;
  width: 32px;
  height: 32px;
  cursor: pointer;
  background: transparent url(/images/prev-vertical.png) no-repeat 0 0; }

/* line 162, ../sass/carousel.sass */
.jcarousel-skin-tango .jcarousel-prev-vertical:hover {
  background-position: 0 -32px; }

/* line 166, ../sass/carousel.sass */
.jcarousel-skin-tango .jcarousel-prev-vertical:active {
  background-position: 0 -64px; }

/* line 170, ../sass/carousel.sass */
.jcarousel-skin-tango .jcarousel-prev-disabled-vertical,
.jcarousel-skin-tango .jcarousel-prev-disabled-vertical:hover,
.jcarousel-skin-tango .jcarousel-prev-disabled-vertical:active {
  cursor: default;
  background-position: 0 -96px; }
