<a href="#" id="next_thumbnail">Next</a>

<div id="thumbnails_container">
  <ul id="thumbnails">
    <li class="thumbnail">
      <img class="gallery-image selected" src="http://farm4.static.flickr.com/3283/3126700605_d12d52437f_s.jpg" title="sketchbook." data-photoid="3126700605"/>
    </li><li class="thumbnail">
      <img class="gallery-image" src="http://farm4.static.flickr.com/3110/3092709595_fc1319a463_s.jpg" title="sketchbook." data-photoid="3092709595"/>
    </li><li class="thumbnail">
      <img class="gallery-image" src="http://farm4.static.flickr.com/3225/3134411896_0e4a6979c2_s.jpg" title="sketchbook." data-photoid="3134411896"/>
    </li><li class="thumbnail">
      <img class="gallery-image" src="http://farm4.static.flickr.com/3225/3126701523_cc65fb9389_s.jpg" title="sketchbook." data-photoid="3126701523"/>
    </li><li class="thumbnail">
      <img class="gallery-image" src="http://farm4.static.flickr.com/3004/3087880198_94c8dd6d91_s.jpg" title="graphite.gesso." data-photoid="3087880198"/>
    </li><li class="thumbnail">
      <img class="gallery-image" src="http://farm4.static.flickr.com/3047/3087871432_0839499fa8_s.jpg" title="gesso.graphite." data-photoid="3087871432"/>
    </li><li class="thumbnail">
      <img class="gallery-image" src="http://farm4.static.flickr.com/3278/3093551360_fa8b2982eb_s.jpg" title="graphite.gesso.watercolor.300lb." data-photoid="3093551360"/>
    </li><li class="thumbnail">
      <img class="gallery-image" src="http://farm4.static.flickr.com/3013/3087870848_cd17b8023f_s.jpg" title="graphite.gesso." data-photoid="3087870848"/>
    </li><li class="thumbnail">
      <img class="gallery-image" src="http://farm4.static.flickr.com/3281/3086977645_17e691e4af_s.jpg" title="graphite.pastel.gesso." data-photoid="3086977645"/>
    </li><li class="thumbnail">
      <img class="gallery-image" src="http://farm4.static.flickr.com/3223/3127527432_7b40fda80f_s.jpg" title="watercolor.gesso.graphite.300lb." data-photoid="3127527432"/>
    </li><li class="thumbnail">
      <img class="gallery-image" src="http://farm4.static.flickr.com/3285/3093550676_7cc2d9a0c9_s.jpg" title="sketchbook." data-photoid="3093550676"/>
    </li><li class="thumbnail">
      <img class="gallery-image" src="http://farm4.static.flickr.com/3152/3092709287_41ee703ba6_s.jpg" title="sketchbook." data-photoid="3092709287"/>
    </li><li class="thumbnail">
      <img class="gallery-image" src="http://farm4.static.flickr.com/3143/3093550560_d927251029_s.jpg" title="sketchbook." data-photoid="3093550560"/>
    </li><li class="thumbnail">
      <img class="gallery-image" src="http://farm4.static.flickr.com/3016/3093550206_7acf0b173d_s.jpg" title="sketchbook." data-photoid="3093550206"/>
    </li><li class="thumbnail">
      <img class="gallery-image" src="http://farm4.static.flickr.com/3294/3092708949_fc554d82f0_s.jpg" title="sketchbook." data-photoid="3092708949"/>
    </li><li class="thumbnail">
      <img class="gallery-image" src="http://farm4.static.flickr.com/3294/3127527890_1c2733ce3c_s.jpg" title="sketchbook." data-photoid="3127527890"/>
    </li><li class="thumbnail">
      <img class="gallery-image" src="http://farm4.static.flickr.com/3147/3087042245_743970a395_s.jpg" title="pastel.graphite.gesso." data-photoid="3087042245"/>
    </li><li class="thumbnail">
      <img class="gallery-image" src="http://farm4.static.flickr.com/3015/3092709161_de4210508e_s.jpg" title="sketchbook." data-photoid="3092709161"/>
    </li><li class="thumbnail">
      <img class="gallery-image" src="http://farm4.static.flickr.com/3217/3127528098_eab195760e_s.jpg" title="sketchbook." data-photoid="3127528098"/>
    </li><li class="thumbnail">
      <img class="gallery-image" src="http://farm4.static.flickr.com/3206/3126700751_a80700ae1e_s.jpg" title="sketchbook." data-photoid="3126700751"/>
    </li><li class="thumbnail">
      <img class="gallery-image" src="http://farm4.static.flickr.com/3109/3127528392_2966c2fdf3_s.jpg" title="sketchbook." data-photoid="3127528392"/>
    </li><li class="thumbnail">
      <img class="gallery-image" src="http://farm4.static.flickr.com/3262/3127527498_c69caa52ca_s.jpg" title="sketchbook." data-photoid="3127527498"/>
    </li><li class="thumbnail">
      <img class="gallery-image" src="http://farm4.static.flickr.com/3289/3127527702_a6e8ebbc31_s.jpg" title="sketchbook." data-photoid="3127527702"/>
    </li>    
  </ul>
</div>
      
<div style="display: none">
  <ul id="gallery-images-template">
    <li class="thumbnail">
      <img class="gallery-image" />
    </li>
  </ul>    
</div>
  
<script>

  function buildImages() {
    var myPhotos = ["http://farm4.static.flickr.com/3053/3086972529_29f08a237f_s.jpg",
    "http://farm4.static.flickr.com/3238/3127527594_8230cd063c_s.jpg",
    "http://farm4.static.flickr.com/3242/3087789146_df87e511d5_s.jpg",
    "http://farm4.static.flickr.com/3112/3087789418_724e928098_s.jpg",
    "http://farm4.static.flickr.com/3188/3087788116_4f06f088ce_s.jpg",
    "http://farm4.static.flickr.com/3127/3126701179_0aefdb2b40_s.jpg",
    "http://farm4.static.flickr.com/3193/3086953699_93d8a710ee_s.jpg",
    "http://farm4.static.flickr.com/3090/3086954305_6ffb196273_s.jpg",
    "http://farm4.static.flickr.com/3296/3087788556_c307f0a17b_s.jpg",
    "http://farm4.static.flickr.com/3053/3086972529_29f08a237f_s.jpg",
    "http://farm4.static.flickr.com/3193/3086953699_93d8a710ee_s.jpg",
    "http://farm4.static.flickr.com/3090/3086954305_6ffb196273_s.jpg",
    "http://farm4.static.flickr.com/3296/3087788556_c307f0a17b_s.jpg",
    "http://farm4.static.flickr.com/3238/3127527594_8230cd063c_s.jpg",
    "http://farm4.static.flickr.com/3242/3087789146_df87e511d5_s.jpg",
    "http://farm4.static.flickr.com/3112/3087789418_724e928098_s.jpg",
    "http://farm4.static.flickr.com/3188/3087788116_4f06f088ce_s.jpg",
    "http://farm4.static.flickr.com/3127/3126701179_0aefdb2b40_s.jpg"]  

    var images = $.map(myPhotos, function(element, index) {
      return {"gallery-image": {"@src": element, "@title": 'title', "@data-photoid": '10'}};
    });
    $("#thumbnails").html(null);
    $('#gallery-images-template').expand(images).prependTo("#thumbnails")
  }
  
  $("#next_thumbnail").live("click", buildImages);
  $('#thumbnails').jcarousel()
  // function clickr() {
  //   $('#thumbnails').css("margin-left", "-400px")
  // }
</script>