<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <title>Cayla Tinney</title>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta http-equiv="imagetoolbar" content="false">
  <meta name="description" content="">
  <meta name="keywords" content="">

  <link href="stylesheets/compiled/screen.css" rel="stylesheet" type="text/css" media="screen">
  <link href="stylesheets/reset.css" rel="stylesheet" type="text/css" media="screen">
  
  <script type="text/javascript" src="javascripts/jquery.min.js"></script>
  <script type="text/javascript" src="javascripts/jquery.expand.js"></script>
</head>
  <body>
    <div id="container">
      <div id="header">
        <h1>Cayla <strong>Tinney</strong></h1>
      </div>
      
      <div id="thumbnail-previous-container">
        <a href="#" id="thumbnail-previous"><</a>
      </div>
    
      <div id="thumbnail-navigation">
        <div id="thumbnail-container">
          <div id="thumbnails"></div>
        </div>        
      </div>
      
      <div id="thumbnail-next-container">
        <a href="#" id="thumbnail-next">></a>
      </div>
      
      <div style="clear: both"></div>
      
      <div id="main-nav">
        <div id="contact-info">
          <%= mail_to("caylatinney@gmail.com", "caylatinney@gmail.com", :encode => "javascript") %>
          <br />
          <strong>231.675.8523</strong>
        </div>
      </div>
            
      <%= yield %>
      
      <div id="content">
        <div id="gallery-image-main"></div>
      </div>
    </div>
    
    <div style="display: none">
      <ul id="navigation-template"><li><a href="#" class="nav-link"><span class="title">title</span></a></li></ul>

      <ul id="gallery-images-template" class="gallery">
        <li class="thumbnail">
          <img class="gallery-image" />
        </li>
      </ul>    

      <div id="image-main-template">
        <div id="main-image">
          <img class="main-image"/>
        </div>
        <div id="main-image-info">
          <div class="description"></div>
        </div>
      </div>
    </div>

    <script type="text/javascript" src="javascripts/flickr.js"></script>
  </body>
</html>
