<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <title>Cayla Tinney</title>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta http-equiv="imagetoolbar" content="false">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <link href="stylesheets/compiled/print.css" rel="stylesheet" type="text/css" media="screen">
  <link href="stylesheets/compiled/screen.css" rel="stylesheet" type="text/css" media="screen">
  <link href="stylesheets/compiled/ie.css" rel="stylesheet" type="text/css" media="screen">
  <!-- link href="stylesheets/complied/application.css" rel="stylesheet" type="text/css" media="screen">
  <link href="stylesheets/reset.css" rel="stylesheet" type="text/css" media="screen" -->
  <script type="text/javascript" src="javascripts/jquery.min.js"></script>
  <script type="text/javascript" src="javascripts/jquery.expand.js"></script>
</head>
  <body>
    <div id="container">
    <div id="header">
      <div id="main-nav">
      </div>
    </div>
    <div class="demo">
      <% yield %>
      <div id="sidebar">
      <div id="gallery-images"></div>
      </div>
      <div id="content">
      <div id="gallery-image-main">
      </div>
      </div>

      
    <div style="display: none">
      <ul id="navigation-template">
        <li><a href="#" class="nav-link"><span class="title">title</span></a></li>
      </ul>

      <ul id="gallery-images-template" class="galleria gallery_demo">
        <li><img class="gallery-image" /></li>
      </ul>    
          
      <div id="gallery-image-main-template">
        <div id="image-main-info">
          <h2><span class="title" /></h2>
          <div class="description"></div>
        </div>
        <img class="image-main"/>
      </div>
    </div>
    
    <script type="text/javascript">
      var Gallery = {
        imageClicked: function() {
          getFlickrJSON("flickr.photos.getInfo&photo_id=" + $(this).attr("data-photoid"), Gallery.showImage)  
        },
        
        showImage: function(data) {
          var element = data.photo
          var photo = { 
            "title": element.title._content, 
            "description": element.description._content, 
            "tags": element.tags.tag,
            "image-main": {
              "@src": flickrImageSrcLg(element), 
              "@title": element.title, 
              "@data-photoid": element.id
            }};
          console.log(photo)
          $('#gallery-image-main').html($('#gallery-image-main-template').expand(photo))
        }, 
        
        initialize: function(setid) {
          getFlickrJSON("flickr.photosets.getPhotos&photoset_id=" + setid, createImages)
        }
      };

      function showNav() {
        $('.nav').css('display','block');
      }
      
      function flickrImageSrcLg(photo) {
        return "http://farm" + photo.farm + ".static.flickr.com/" + photo.server +"/" + photo.id + "_" + photo.secret + ".jpg";
      }
      function flickrImageSrc(photo) {
        return "http://farm" + photo.farm + ".static.flickr.com/" + photo.server +"/" + photo.id + "_" + photo.secret + "_s.jpg";
      }

      function flickrNavClicked() {
        getFlickrJSON("flickr.photosets.getPhotos&photoset_id=" + $(this).attr("data-setid"), createImages)
      }
      
      function createImages(data) {
        var images = $.map(data.photoset.photo, function(element, index) {
          return {"gallery-image": {"@src": flickrImageSrc(element), "@title": element.title, "@data-photoid": element.id}};
        });

        $('#gallery-images').html($('#gallery-images-template').expand(images))
      }
      
      function createNavigation(data) {
        var navigation = $.map(data.photosets.photoset, function(element, index) {
          return {"nav-link": {"@data-setid": element.id, title: element.title._content, photoCount: element.photos}};
        })
        
        $('#navigation-template').expand(navigation).appendTo("#main-nav")
        Gallery.initialize($($(".nav-link")[0]).attr("data-setid"))
      }
      
      function getFlickrJSON(api_method, callback) {
        var caylasUserId = "22691397@N06"
        var sarasUserId = "43503694@N00"
        $.getJSON("http://www.flickr.com/services/rest/?jsoncallback=?&format=json&api_key=928eb0a241e0efcbf637a628313cb06b&method="+ api_method, callback);        
      }
      
      getFlickrJSON("flickr.photosets.getList&user_id=22691397@N06", createNavigation)
      $(".gallery-image").live("click", Gallery.imageClicked);
      $(".nav-link").click(flickrNavClicked)
    </script>
    </div>
  </body>
</html>
